@mixin click-effect {
  transition: 0.3s;
  position: relative;
  &:before {
    content: '';
    background-color: aliceblue;
    border-radius: 3px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0.001, 0.001);
  }
  &:focus {
    outline: 0;
    &:before {
      animation: effect_dylan 0.8s ease-out;
    }
  }
}

@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}

.grey {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--color-grey);
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 500;
  color: var(--color--white);
  padding: 11.5px 30px;
  width: 100%;
  max-width: 200px;
  border-radius: 4px;
  transition: .3s;
  box-shadow: 2px 2px 16px 0 rgb(0 0 0 / 30%);
  &:hover{
    transition: .3s;
    background: #6b7880;
  }
  @include click-effect;
}

.blue{
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #00a6d1;
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 500;
  color: var(--color--white);
  padding: 11.5px 30px;
  width: 100%;
  max-width: 200px;
  border-radius: 4px;
  transition: .3s;
  box-shadow: 2px 2px 16px 0 rgb(0 0 0 / 30%);
  &:hover{
    transition: .3s;
    background: #00b0dd;
  }
  @include click-effect;
}
// ie 11
@media all and (-ms-high-contrast: none) {
  .white,
  .green {
    max-width: 280px;
  }
}

@media (min-width: 920px) {
  .orange {
    min-height: 64px;
    font-size: 26px;
  }
}

@media (max-width: 919px) {
  .orange,
  .green,
  .blue {
    padding: 10px 40px;
    min-height: 10px;
    font-size: 16px;
    line-height: 24px;
  }
}
