@import url('./font.scss');
@import url('./variables.scss');
@import url('../../../node_modules/antd/dist/antd.css');

html {
  font-size: 10px;
}

body {
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--color--white);
  font-family: var(--font-poppins);
}

* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.ant-select{
  .ant-select-selector{
    border-radius: 4px!important;
    box-shadow: 2px 2px 16px 0 rgb(0 0 0 / 30%);
    height: 45px!important;
  }
  .ant-select-selection-item{
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
  }
}
.ant-select-tree{
  .ant-select-tree-treenode{
    position: relative;
  }
  .ant-select-tree-switcher:not(.ant-select-tree-switcher-noop){
    position: absolute;
    left: 11px;
    top: 0;
    width: calc(100% - 16px);
    z-index: 10;
    text-align: left;
  }
  .ant-select-tree-switcher:not(.ant-select-tree-switcher-noop)~.ant-select-tree-node-content-wrapper{
    margin-left: 23px;
  }
  .ant-select-tree-node-content-wrapper{
    max-width: calc(100% - 40px);
  }
}

.ant-radio-group{
  display: flex;
  border-radius: 4px;
  box-shadow: 2px 2px 16px 0 rgb(0 0 0 / 30%);
  width: fit-content;
  overflow: hidden;
  .ant-radio-button-wrapper{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
      line-height: 18px;
    }
  }
}
.ant-input{
  min-height: 43px;
  border-radius: 4px;
  box-shadow: 2px 2px 16px 0 rgb(0 0 0 / 30%);
  font-size: 14px;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.7);
  &::placeholder{
    color: rgba(0, 0, 0, 0.4);
  }
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
  background: #01a6d1;
  border-color: #01a6d1;
  &:hover{
    background: #01acd9;
    border-color: #01a6d1;
  }
}
.ant-radio-button-wrapper:hover{
  color: #01acd9;
}

.site-calendar-demo-card {
  width: 300px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}

.ant-picker{
  height: 45px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 2px 2px 16px 0 rgb(0 0 0 / 30%);
  .ant-picker-input > input{
    color: rgba(0, 0, 0, 0.7);
  }
}
.ant-select-tree-title{
  >div >span{
    font-size: 12px;
    color: #525252;
  }
}
.ant-form-item-has-error{
  .ant-input{
    //box-shadow: 0 0 8px 0 rgb(255 255 255);
  }
  .ant-form-item-explain{
    margin-bottom: -10px!important;
    >div{
      //background: white;
      //box-shadow: 0 0 8px 0 rgb(255 255 255);
      margin-top: 2px;
      font-size: 12px;
      width: fit-content;
      color: white;
      border-bottom: 1px solid #eb5757;
      position: relative;
      padding-left: 20px;
      text-shadow: 1px 1px 3px #000000;
      &:before{
        content: '';
        background-image: url('/static/img/error.png');
        box-shadow: 1px 1px 3px rgb(0 0 0 / 68%);
        border-radius: 20px;
        position: absolute;
        left: 0;
        top: 0;
        width: 16px;
        height: 16px;
        background-size: cover;
      }
    }
  }
}
.ant-checkbox-wrapper{
  >span{
    color: white;
    a{
      color: white;
      border-bottom: 1px solid white;
    }
  }
}
.ant-checkbox-checked .ant-checkbox-inner{
  background-color: #616d74;
  border-color: #616d74;
}
.ant-btn{
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #00a6d1;
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 500;
  color: var(--color--white);
  padding: 11.5px 30px;
  width: 100%;
  max-width: 200px;
  border-radius: 4px;
  transition: .3s;
  box-shadow: 2px 2px 16px 0 rgb(0 0 0 / 30%);
  min-height: 39px;
  &:hover{
    opacity: .7;
  }
}
.ant-btn-primary{
  &:hover, &:focus{
    background: #00b0dd;
  }
}
.ant-checkbox-disabled .ant-checkbox-inner{
  border-color: #616d74!important;
  &:after{
    border-color: white!important;
  }
}
.ant-spin-dot-item{
  background-color: #616d74;
}
