:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-lato: 'Lato', serif;

  //colors
  --color-black: #1f1d1d;
  --color-grey: #616d74;
  --color-ligth-grey: #f7f7f9;
  --color--white: #ffffff;

  --color-orange: #eb6922;

}
