.form{
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-shadow: 2px 2px 16px 0 rgb(0 0 0 / 30%);
  min-width: 600px;
}
.orange{
  display: flex;
  flex-direction: column;
  background: var(--color-orange);
  width: 100%;
  max-width: 600px;
  padding: 30px 29px;
  min-height: 370px;
  h3{
    font-family: var(--font-poppins);
    color: var(--color--white);
    font-size: 20px;
    margin-bottom: 16px;
  }
  >p{
    font-family: var(--font-lato);
    color: var(--color--white);
    font-size: 16px;
    margin-bottom: 9px;
  }

  .group{
    display: flex;
    align-items: center;
    &.groupArrow{
      margin-bottom: 15px;
      >span{
        margin-top: 34px;
      }
    }
    >span{
      color: white;
      font-size: 15px;
      width: 15px;
      min-width: 15px;
      text-align: center;
      margin: 0 10px;
    }
    >div{
      display: flex;
      flex-direction: column;
      width: 100%;
      >p{
        font-family: var(--font-lato);
        color: var(--color--white);
        font-size: 16px;
        margin-bottom: 9px;
      }
    }
  }
  >p + div{
    margin-bottom: 15px;
  }
  >div:last-child{
    margin-bottom: 0;
  }

  .back{
    cursor: pointer;
    transition: .3s;
    width: fit-content;
    &:hover{
      color: #e0e0e0;
    }
  }
}

.orangeGroup{
  display: grid;
  grid-template-columns: 100% 100%;
  overflow: hidden;
  max-width: 600px;
  transition: width 4s, all .3s;
  .orange{
    transition: .3s;
    &:nth-child(1) {
      margin-left: 0%;
    }
    &:nth-child(2) {
      margin-left: 0%;
      max-height: 300px;
    }
  }
  &.showNextStep{
    max-height: fit-content;
    .orange{
      transition: .3s;
      .group{
        margin-bottom: 15px;
        align-items: flex-start;
        p{
          span{
            font-size: 13px;
          }
        }
        div{
          margin-bottom: 0;
        }
      }
      &:nth-child(1) {
        margin-left: -100%;
      }
      &:nth-child(2) {
        margin-left: -100%;
        max-height: fit-content;
      }
    }
  }
}
.white{
  padding: 30px 29px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  .loading{
    position: absolute;
    z-index: 2;
    background: rgb(11 11 11 / 19%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h3{
    color: var(--color-grey);
    font-size: 30px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 15px;
    letter-spacing: 0;
    font-family: var(--font-poppins);
  }
  p{
    color: #616D74;
    padding: 0;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0;
    font-family: var(--font-lato);
  }
  >div:nth-child(2){
    width: 100%;
    max-width: 190px;
    display: flex;
    flex-direction: column;
    a{
      font-family: var(--font-lato);
      color: #00b9dc;
      font-size: 16px;
      margin-top: 9px;
      text-align: right;
      width: 100%;
    }
  }
}

.card{
  background: white;
  height: 45px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  padding: 4px 11px;
  >div{
    width: 100%;
  }
}

@media (max-width: 650px) {
  .form{
    min-width: 100%;
  }
  .orange{
    max-width: 100%;
  }
  .orange .group{
    display: flex;
    flex-direction: column;
    >span{
      opacity: 0;
      max-height: 10px;
      height: 10px;
      min-height: 10px;
      margin-top: 0!important;
    }
    .files{
      margin-bottom: 10px;
    }
    button{
      width: 100%;
      max-width: 100%;
    }
    input{

    }
  }
  .white{
    display: flex;
    flex-direction: column;
    h3{
      font-size: 23px;
      line-height: 18px;
    }
    button{
      margin-top: 20px;
    }
    a{
      margin-left: 0;
      text-align: left!important;
      font-size: 14px!important;
    }
  }
}
.cardError{
  margin-top: -12px;
  margin-bottom: 10px;
  font-size: 12px;
  width: fit-content;
  color: white;
  border-bottom: 1px solid #eb5757;
  position: relative;
  padding-left: 20px;
  &:before{
    content: '';
    background-image: url('/static/img/error.png');
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background-size: cover;
  }
}
